<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cinema</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="index.html"><strong>GPB - Cinemark</strong><br></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse text-truncate" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link nav-link" href="index.html">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="Cartelera.html">Cartelera</a></li>
                    <li class="nav-item"><a class="nav-link" href="Buscar.html">Buscar</a></li>
                    <li class="nav-item"><a class="nav-link" href="/perfil">Administrar</a></li>
                </ul><span class="navbar-text actions"> <a class="login" href="Iniciar-Sesión.html">Iniciar Sesión</a><a class="btn btn-light action-button" role="button" href="Registro.html">Registrarse</a></span>
            </div>
        </div>
    </nav>
    <div class="container" style="background-color: var(--bs-gray-200);padding: 20px;">
        <form>
            <h1>Editar Usuario</h1>
            <div><label class="form-label" for="nombres">Nombres<input class="form-control form-input-center" type="text" name="nombres" placeholder="{nombres}"></label></div>
            <div><label class="form-label" for="apellidos">Apellidos<input class="form-control form-input-center" type="text" name="apellidos" placeholder="{apellidos}"></label></div>
            <div><label class="form-label" for="cedula">Cédula<input class="form-control form-input-center" type="text" name="cedula" placeholder="{cedula}" inputmode="numeric"></label></div>
            <div><label class="form-label" for="correo">Correo<input class="form-control form-input-center" type="text" name="correo" placeholder="{correo}" inputmode="email"></label></div>
            <div><label class="form-label" for="pass">Contraseña<input class="form-control form-input-center" type="text" name="pass" placeholder="{contraseña}"></label></div>
            <div><label class="form-label" for="Tipo">Tipo de Usuario<input class="form-control form-input-center" type="text" name="tipo" placeholder="{tipo}" inputmode="email" disabled=""></label></div>
            <div class="btn-group" role="group" style="margin: auto;height: auto;padding-right: 0px;width: auto;min-width: 170px;margin-top: 15px;"><a class="btn btn-primary" role="button" style="padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;margin-right: 5px;" href="Usuario-edit.html">Editar</a><button class="btn btn-success" type="button" style="padding: 0px 0px;margin-left: 0px;">Añadir</button></div>
        </form>
    </div>
    <footer class="text-center text-primary footer-basic" title="asdasd">
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="index.html">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Mintic Grupo 6-26&nbsp;© 2021</p>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="assets/js/Simple-Slider.js"></script>
</body>

</html>