<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cinema</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&amp;display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/ionicons.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Login-Form-Dark.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Navigation-with-Button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
            <div class="{{ category }} popup">{{ message }}</div>  
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="/"><strong>GPB - Cinemark</strong><br></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse text-truncate" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active nav-link" href="/">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="/cartelera">Cartelera</a></li>
                    <li class="nav-item"><a class="nav-link" href="/buscar">Buscar</a></li>
                    {% if rol == "administrador" or rol=="superadministrador" %}
                        <li class="nav-item"><a class="nav-link" href="/perfil/{{id}}">Perfil</a></li>
                        <li class="nav-item"><a class="nav-link" href="/dashboard">Administrar</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="/perfil/{{id}}">Perfil</a></li>
                    {% endif %}
                {% if rol ==0 %}
                    </ul><span class="navbar-text actions"> <a class="login" href="/login">Iniciar Sesión</a><a class="btn btn-light action-button" role="button" href="/registro">Registrarse</a></span>               
                {% else %}
                    </ul><span class="navbar-text actions">
                        <a class="btn btn-light action-button logout" href="/logout">Cerrar Sesion</a>
                    </span> 
                {% endif %}
            </div>
        </div>
    </nav>
    <h1 class="display-5 text-center">Gran Plaza Bosa - Cinemark</h1>
    <div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
        <div class="carousel-inner">
            <div class="carousel-item active"><img class="img-fluid w-100 d-block" src="https://assets.cinemark-core.com/5db771be04daec00076df3f5/content/covers/610e19c9f711590009f11cce/desktop/actualiza-tus-datos-1633969924249.jpg" alt="Slide Image"></div>
            <div class="carousel-item"><img class="w-100 d-block" src="https://assets.cinemark-core.com/5db771be04daec00076df3f5/content/covers/6154f64d2afa1500089774b8/desktop/eternals-preventa-1635177023350.jpg" alt="Slide Image"></div>
            <div class="carousel-item"><img class="w-100 d-block" src="https://assets.cinemark-core.com/5db771be04daec00076df3f5/content/covers/610c01dad3720e0008804d5a/desktop/jueves-de-estrenos-1634830680967.jpg" alt="Slide Image"></div>
        </div>
        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
        <ol class="carousel-indicators">
            <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
            <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
        </ol>
    </div>
    <footer class="text-center text-primary footer-basic" title="asdasd">
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Mintic Grupo 6-26&nbsp;© 2021</p>
    </footer>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/Simple-Slider.js') }}"></script>
</body>

</html>